In [1]:
2+2

4

In [2]:
number = 2
number + 3

5

In [1]:
import pandas as pd

In [2]:
my_list = [2,4,6,8]

In [3]:
my_series = pd.Series(my_list)

In [4]:
my_series.sum()

20

In [5]:
my_series.max()

8

In [6]:
my_series.min()

2

In [7]:
my_series.describe()

count    4.000000
mean     5.000000
std      2.581989
min      2.000000
25%      3.500000
50%      5.000000
75%      6.500000
max      8.000000
dtype: float64

In [9]:
committee_list = pd.read_csv("https://raw.githubusercontent.com/california-civic-data-coalition/first-python-notebook/master/docs/_static/committees.csv")

In [11]:
committee_list.head()

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name,committee_position
0,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,382,1374469,YES ON PROPOSITION 51 - CALIFORNIANS FOR QUALI...,SUPPORT
1,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,383,1220380,COMMUNITY COLLEGE FACILITY COALITION ISSUES CO...,SUPPORT
2,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,384,1282321,TORLAKSON'S INVEST IN CALIFORNIA A BALLOT MEAS...,SUPPORT
3,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,385,1382843,CALIFORNIA TAXPAYERS AND EDUCATORS OPPOSED TO ...,OPPOSE
4,ocd-contest/85990193-9d6f-4600-b8e7-bf1317841d82,1362198,71,PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...,386,1362973,YES ON PROPOSITION 52 - A COALITION OF CALIFOR...,SUPPORT

In [12]:
committee_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ocd_prop_id             102 non-null    object
 1   calaccess_prop_id       102 non-null    int64
 2   ccdc_prop_id            102 non-null    int64
 3   prop_name               102 non-null    object
 4   ccdc_committee_id       102 non-null    int64
 5   calaccess_committee_id  102 non-null    int64
 6   committee_name          102 non-null    object
 7   committee_position      102 non-null    object
dtypes: int64(4), object(4)
memory usage: 4.8+ KB

In [15]:
committee_list["prop_name"].value_counts().reset_index()

                                                index  prop_name
0   PROPOSITION 057 - CRIMINAL SENTENCES. JUVENILE...         13
1   PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...         12
2   PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...         11
3   PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...          9
4   PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...          8
5   PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...          7
6   PROPOSITION 062- DEATH PENALTY. INITIATIVE STA...          7
7   PROPOSITION 059- SB 254 (CHAPTER 20, STATUTES ...          6
8   PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOT...          4
9   PROPOSITION 054 - LEGISLATURE. LEGISLATION AND...          4
10  PROPOSITION 058 - SB 1174 (CHAPTER 753, STATUT...          4
11  PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...          4
12  PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...          4
13  PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...          3
14  PROPOSITION 061- STATE PRESCRIPTION DRUG PURCH...          3
15  PROPOSITION 060- ADULT FILMS. CONDOMS. HEALTH ...          2
16  PROPOSITION 065- CARRY-OUT BAGS. CHARGES. INIT...          1

In [16]:
my_prop = 'PROPOSITION 062- DEATH PENALTY. INITIATIVE STATUTE.'

In [19]:
my_committees = committee_list[committee_list.prop_name == my_prop]

In [20]:
my_committees.head()

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name,committee_position
74,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT
75,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,457,1382525,NEW APPROACH PAC (MPO),SUPPORT
76,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,458,1376077,"CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY...",SUPPORT
77,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,459,1382568,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",OPPOSE
78,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,460,1371855,"MARIJUANA POLICY PROJECT OF CALIFORNIA, YES ON 64",SUPPORT

In [21]:
my_committees.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 74 to 84
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ocd_prop_id             11 non-null     object
 1   calaccess_prop_id       11 non-null     int64
 2   ccdc_prop_id            11 non-null     int64
 3   prop_name               11 non-null     object
 4   ccdc_committee_id       11 non-null     int64
 5   calaccess_committee_id  11 non-null     int64
 6   committee_name          11 non-null     object
 7   committee_position      11 non-null     object
dtypes: int64(4), object(4)
memory usage: 616.0+ bytes

In [22]:
contrib_list = pd.read_csv("https://raw.githubusercontent.com/california-civic-data-coalition/first-python-notebook/master/docs/_static/contributions.csv")

In [23]:
contrib_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56379 entries, 0 to 56378
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   calaccess_committee_id        56379 non-null  int64
 1   committee_name                56379 non-null  object
 2   calaccess_filing_id           56379 non-null  int64
 3   date_received                 56379 non-null  object
 4   contributor_lastname          56375 non-null  object
 5   contributor_firstname         53411 non-null  object
 6   contributor_city              56369 non-null  object
 7   contributor_state             56363 non-null  object
 8   contributor_zip               56366 non-null  object
 9   contributor_employer          48572 non-null  object
 10  contributor_occupation        53273 non-null  object
 11  contributor_is_self_employed  56379 non-null  bool
 12  amount                        56379 non-null  float64
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 3.3+ MB

In [24]:
committee_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ocd_prop_id             102 non-null    object
 1   calaccess_prop_id       102 non-null    int64
 2   ccdc_prop_id            102 non-null    int64
 3   prop_name               102 non-null    object
 4   ccdc_committee_id       102 non-null    int64
 5   calaccess_committee_id  102 non-null    int64
 6   committee_name          102 non-null    object
 7   committee_position      102 non-null    object
dtypes: int64(4), object(4)
memory usage: 4.8+ KB

In [25]:
merged = pd.merge(my_committees, contrib_list, on="calaccess_committee_id")

In [26]:
merged.head()

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name_x,committee_position,committee_name_y,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
0,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2038581,2016-02-04,BRADEN QUIGLEY,LAURA,SACRAMENTO,CA,95825,LBQ STRATEGIES,CONSULTANT,False,100.0
1,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2038581,2016-01-05,"CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY...",NaN,IRVINE,CA,92618,NaN,NaN,False,250000.0
2,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2038581,2016-01-29,"CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY...",NaN,IRVINE,CA,92618,NaN,NaN,False,250000.0
3,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2038581,2016-03-28,"CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY...",NaN,IRVINE,CA,92618,NaN,NaN,False,250000.0
4,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2038581,2016-01-05,DRUG POLICY ACTION,NaN,NEW YORK,NY,10001,NaN,NaN,False,250000.0

In [27]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 860 entries, 0 to 859
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ocd_prop_id                   860 non-null    object
 1   calaccess_prop_id             860 non-null    int64
 2   ccdc_prop_id                  860 non-null    int64
 3   prop_name                     860 non-null    object
 4   ccdc_committee_id             860 non-null    int64
 5   calaccess_committee_id        860 non-null    int64
 6   committee_name_x              860 non-null    object
 7   committee_position            860 non-null    object
 8   committee_name_y              860 non-null    object
 9   calaccess_filing_id           860 non-null    int64
 10  date_received                 860 non-null    object
 11  contributor_lastname          860 non-null    object
 12  contributor_firstname         750 non-null    object
 13  contributor_city              860 non-null    object
 14  contributor_state             860 non-null    object
 15  contributor_zip               860 non-null    object
 16  contributor_employer          657 non-null    object
 17  contributor_occupation        742 non-null    object
 18  contributor_is_self_employed  860 non-null    bool
 19  amount                        860 non-null    float64
dtypes: bool(1), float64(1), int64(5), object(13)
memory usage: 91.5+ KB

In [28]:
merged["amount"].sum()

35177017.64

In [29]:
merged["committee_position"].value_counts()

SUPPORT    762
OPPOSE      98
Name: committee_position, dtype: int64

In [30]:
support = merged[merged["committee_position"] == 'SUPPORT']

In [31]:
oppose = merged[merged["committee_position"] == 'OPPOSE']

In [32]:
oppose.amount.sum()

2501211.64

In [33]:
support.amount.sum()

32675806.0

In [34]:
support["amount"].sum()/merged["amount"].sum()

0.9288964270479867

In [35]:
merged.sort_values("amount",ascending=False).head()

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name_x,committee_position,committee_name_y,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
142,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2083528,2016-09-15,PARKER AND AFFILIATED ENTITIES,SEAN,PALO ALTO,CA,94301,NaN,NaN,False,4000000.0
79,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2083528,2016-09-15,"DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...",NaN,SACRAMENTO,CA,95815,NaN,NaN,False,2000000.0
846,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,464,1385506,"DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...",SUPPORT,"DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...",2083608,2016-09-15,FUND FOR POLICY REFORM (NONPROFIT 501 (C)(4)),NaN,NEW YORK,NY,10019,NaN,NaN,False,1970000.0
851,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,465,1385745,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),SUPPORT,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),2082414,2016-09-15,FUND FOR POLICY REFORM,NaN,WILMINGTON,DE,19809,NaN,NaN,False,1970000.0
852,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,465,1385745,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),SUPPORT,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),2096507,2016-09-27,FUND FOR POLICY REFORM,NaN,WILMINGTON,DE,19809,NaN,NaN,False,1403000.0

In [36]:
support.sort_values("amount",ascending=False).head()

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name_x,committee_position,committee_name_y,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
142,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2083528,2016-09-15,PARKER AND AFFILIATED ENTITIES,SEAN,PALO ALTO,CA,94301,NaN,NaN,False,4000000.0
79,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2083528,2016-09-15,"DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...",NaN,SACRAMENTO,CA,95815,NaN,NaN,False,2000000.0
851,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,465,1385745,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),SUPPORT,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),2082414,2016-09-15,FUND FOR POLICY REFORM,NaN,WILMINGTON,DE,19809,NaN,NaN,False,1970000.0
846,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,464,1385506,"DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...",SUPPORT,"DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...",2083608,2016-09-15,FUND FOR POLICY REFORM (NONPROFIT 501 (C)(4)),NaN,NEW YORK,NY,10019,NaN,NaN,False,1970000.0
852,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,465,1385745,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),SUPPORT,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),2096507,2016-09-27,FUND FOR POLICY REFORM,NaN,WILMINGTON,DE,19809,NaN,NaN,False,1403000.0

In [37]:
oppose.sort_values("amount",ascending=False).head()

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name_x,committee_position,committee_name_y,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
839,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,463,1387789,"SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...",OPPOSE,"SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...",2083142,2016-07-20,SCHAUER,JULIE,OAKS,PA,19456,NaN,RETIRED,False,1000000.0
312,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,459,1382568,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",OPPOSE,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",2098048,2016-09-27,"SAM ACTION, INC.",NaN,ALEXANDRIA,VA,22314,NaN,NaN,False,400000.0
310,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,459,1382568,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",OPPOSE,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",2083071,2016-09-15,"SAM ACTION, INC.",NaN,ALEXANDRIA,VA,22314,NaN,NaN,False,225000.0
308,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,459,1382568,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",OPPOSE,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",2083071,2016-09-12,"SAM ACTION, INC.",NaN,ALEXANDRIA,VA,22314,NaN,NaN,False,200000.0
840,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,463,1387789,"SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...",OPPOSE,"SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...",2083142,2016-07-25,SCHAUER,JULIE,OAKS,CA,19456,NaN,RETIRED,False,150000.0

In [44]:
merged.groupby("contributor_state")["amount"].sum()

contributor_state
AB           0.00
AL         100.00
AZ         500.00
BC           0.00
CA    17491193.00
CO       39300.00
CT         100.00
DC     2618600.00
DE     6140100.00
FL     1250850.00
GA         100.00
ID        1000.00
IL        7000.00
LA         100.00
MA         600.00
MD        2971.00
MI         400.00
MO         550.00
NC         200.00
NV        1800.00
NY     5446985.00
OH        2950.00
OK         200.00
OR        1400.00
PA     1215475.00
RI        6700.00
TX        1800.00
VA      895243.64
WA       50800.00
Name: amount, dtype: float64

In [47]:
merged.groupby("contributor_state")["amount"].sum().reset_index().sort_values("amount",ascending=False)

   contributor_state       amount
4                 CA  17491193.00
8                 DE   6140100.00
20                NY   5446985.00
7                 DC   2618600.00
9                 FL   1250850.00
24                PA   1215475.00
27                VA    895243.64
28                WA     50800.00
5                 CO     39300.00
12                IL      7000.00
25                RI      6700.00
15                MD      2971.00
21                OH      2950.00
26                TX      1800.00
19                NV      1800.00
23                OR      1400.00
11                ID      1000.00
14                MA       600.00
17                MO       550.00
2                 AZ       500.00
16                MI       400.00
18                NC       200.00
22                OK       200.00
1                 AL       100.00
13                LA       100.00
10                GA       100.00
6                 CT       100.00
3                 BC         0.00
0                 AB         0.00

In [49]:
merged.groupby(["contributor_firstname","contributor_lastname","committee_position"])["amount"].sum().reset_index().sort_values("amount",ascending=False)

,contributor_firstname,contributor_lastname,committee_position,amount
483,SEAN,PARKER AND AFFILIATED ENTITIES,SUPPORT,7250000.0
482,SEAN,PARKER,SUPPORT,1500000.0
281,JULIE,SCHAUER,OPPOSE,1364000.0
108,DANIEL,LEWIS,SUPPORT,1250000.0
194,HENRY,VAN AMERINGEN,SUPPORT,1000000.0
...,...,...,...,...
430,RICH,GOLDBERG,SUPPORT,25.0
358,MARSTON,MEDLOCK,SUPPORT,0.0
497,STEPHANIE,WARREN-SAMARIPA,SUPPORT,0.0
16,AMIRGHASEM,SAMIMI-ARDESTAN,SUPPORT,0.0
136,DAVID,WOOD,SUPPORT,0.0

In [50]:
support.groupby(["contributor_firstname","contributor_lastname"])["amount"].sum().reset_index().sort_values("amount",ascending=False)

    contributor_firstname            contributor_lastname     amount
444                  SEAN  PARKER AND AFFILIATED ENTITIES  7250000.0
443                  SEAN                          PARKER  1500000.0
102                DANIEL                           LEWIS  1250000.0
180                 HENRY                   VAN AMERINGEN  1000000.0
374              NICHOLAS                        PRITZKER   900000.0
..                    ...                             ...        ...
328                  MARK                        SLABAUGH       25.0
128                 DAVID                            WOOD        0.0
16             AMIRGHASEM                 SAMIMI-ARDESTAN        0.0
458             STEPHANIE                 WARREN-SAMARIPA        0.0
331               MARSTON                         MEDLOCK        0.0

[507 rows x 3 columns]

In [51]:
oppose.groupby(["contributor_firstname","contributor_lastname"])["amount"].sum().reset_index().sort_values("amount",ascending=False)

   contributor_firstname           contributor_lastname     amount
20                 JULIE                        SCHAUER  1364000.0
31                ROBERT                          ADAMS     6500.0
29               MICHAEL                           DEAN     5000.0
13                GEORGE                           BELL     1550.0
12               FARSHAD                         FARDAD     1000.0
17               JESSICA                         MACIEL     1000.0
9                  EDITH                        REUVENI     1000.0
3              CHRISTINE                         MILLER      871.0
25                  LORI                       ROBINSON      817.0
8                 DWIGHT                           BELL      730.0
23               KOLALEH                     TABIBZADEH      500.0
24               KOUROSH                        MADDAHI      500.0
0                 ANDREW                         GRZYWA      500.0
39                THOMAS                         DAWSON      500.0
36                RONALD                       LAWRENCE      300.0
22                   KEN                         CORNEY      300.0
27                MARTIN                           RYAN      250.0
14                ISRAEL                        CARRERO      250.0
30                MIGUEL                       COLON JR      200.0
37                   SAM                        SPIEGEL      200.0
41               WILLIAM                        WINTERS      200.0
6                  DAVID                         DARRIN      200.0
19                  JOHN                        ROBERTS      200.0
2                CECILIA                         GALVIN      150.0
15                 JAMES                          DAVIS      150.0
26                 MAJID                         TALEBI      150.0
5                    DAN                        DESMIDT      150.0
33                ROBERT                          HANDY      100.0
40               WILLIAM                         MADDEN      100.0
38                 SCOTT                         SEAMAN      100.0
4               CLARENCE                        STEWART      100.0
35                RONALD                        JOHNSON      100.0
34                ROBERT                      SANDERSON      100.0
1                   BILL                        KOUSENS      100.0
32                ROBERT                        ELSBERG      100.0
7                  DAVID                      MCCARTNEY      100.0
10                EILEEN  JANDRISEVITS,MS,' BY  CADC-I,      100.0
28                   MIA                          CHUNG      100.0
11                  ERIC                          NUNEZ      100.0
16                JEREMY                         FORBES      100.0
18                  JOHN                         CALLAS      100.0
21                 KAREN                          AKAGI      100.0

In [52]:
merged.fillna("").groupby(["contributor_firstname","contributor_lastname","committee_position"])["amount"].sum().reset_index().sort_values("amount",ascending=False)

,contributor_firstname,contributor_lastname,committee_position,amount
554,SEAN,PARKER AND AFFILIATED ENTITIES,SUPPORT,7250000.0
31,,FUND FOR POLICY REFORM,SUPPORT,6140000.0
32,,FUND FOR POLICY REFORM (NONPROFIT 501 (C)(4)),SUPPORT,3940000.0
24,,"DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...",SUPPORT,3000000.0
49,,NEW APPROACH PAC (MPO),SUPPORT,2615000.0
...,...,...,...,...
501,RICH,GOLDBERG,SUPPORT,25.0
429,MARSTON,MEDLOCK,SUPPORT,0.0
568,STEPHANIE,WARREN-SAMARIPA,SUPPORT,0.0
207,DAVID,WOOD,SUPPORT,0.0
87,AMIRGHASEM,SAMIMI-ARDESTAN,SUPPORT,0.0